body{
  font-family: Roboto;
  font-weight: 400;
}
.container{
  max-width: 1280px;
  width: 100%;
  padding: 0 55px;
  margin: auto;
  @media screen and (max-width: 500px) {
    padding: 0 20px;


  }
}

a{
  text-decoration: none;
}
@keyframes moving_button {
  0% {
    transform: rotate(-20deg);
  }
  20% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(-20deg);
  }
  60% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes more_arrow {
  50% {
    transform: translateX(200%);
  }
  50.1% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
